form.request.panel.panel-info(ng-controller='contractCont', ng-init = 'pathtoimage=""; attachments=["عکس","صفحه اول شناسنامه","کارت ملی","آخرین مدرک تحصیلی","آخرین حکم کارگزینی", "صفحه اول دفترچه بیمه","امضاء"]')
  .panel-heading
    h3.panel-title
      b فرم قراداد تدريس - پیوستها
      include parts/info.jade
  .request.panel-body
    .row
      include parts/pagination.jade
      .col-md-12
        .col-sm-3.col-md-2(ng-repeat='n in [0,1,2,3,4,5]')
          span.label.label-default {{attachments[n]}} 
          a(ng-if='requestLevel<3', href='', ng-click='removeattachment(n)')
            span.glyphicon.glyphicon-remove
          a.thumbnail(ng-if='requestLevel<3', href='', data-toggle='modal', data-target='#fileman', ng-click='$emit("thumbnailclick", {requestid: data.id, attachmentid: n})')
            img(ng-src='/fileman/contract/attachment/{{data.id}}/{{n}}?cb={{random[n]}}', alt='{{attachments[n]}}')
          a.thumbnail(ng-if='requestLevel>2')
            img(ng-src='/fileman/contract/attachment/{{data.id}}/{{n}}?cb={{random[n]}}', alt='{{attachments[n]}}')
      .col-md-12
        .col-sm-6.col-md-10
          P مدرس محترم!
          P جهت تکمیل قرارداد لازم است تصویر مدارک فهرست شده در این صفحه را با اشاره
            | به محل در نظر گرفته شده، به فضای کاربری خود منتقل و سپس پیوست این قرارداد فرمایید.
        .col-sm-6.col-md-2(ng-repeat='n in [6]')
          span.label.label-default {{attachments[n]}} 
          a(ng-if='requestLevel<3', href='', ng-click='removeattachment(n)')
            span.glyphicon.glyphicon-remove
          a.thumbnail(ng-if='requestLevel<3', href='', data-toggle='modal', data-target='#fileman', ng-click='$emit("thumbnailclick", {requestid: data.id, attachmentid: n})')
            img(ng-src='/fileman/contract/attachment/{{data.id}}/{{n}}?cb={{random[n]}}', alt='{{attachments[n]}}')
          a.thumbnail(ng-if='requestLevel>2')
            img(ng-src='/fileman/contract/attachment/{{data.id}}/{{n}}?cb={{random[n]}}', alt='{{attachments[n]}}')
  .panel-footer
    include parts/alertinfo.jade
