form.request.panel.panel-info()
  .panel-heading
    h3.panel-title
      b فرم قراداد تدريس - پیوستها
  .request.panel-body
    .row
      include parts/pagination.jade
      .col-md-12
        .col-md-12
          h4 مدرس محترم!، جهت تکمیل قراداد، فایل حاوی تصویر مدارک ذیل را با اشاره به محل درنظر گرفته شده بصورت خودکار به فضای کاربری خود ارسال و کپی آنرا پیوست قراداد فرمایید. 
        .col-sm-4.col-md-3
          p پس از تکمیل قرارداد میتوانید با اشاره به نماد چاپگر در سمت چپ فرم اقدام به چاپ قرارداد نمایید
        .col-sm-4.col-md-3
          p قرارداد الکترونیکی از طریق کارتابل کارشناسان آموزش در شرکت ره آوران توسط ایشان ملاحظه خواهد شد 
        .col-sm-4.col-md-3
          p در صورت تایید ایشان وضعیت سند، به خاتمه یافته تغییر خواهد کرد و مفاد آن غیر قابل تغییر خواهند بود.
        .col-sm-4.col-md-3
          p با تشکر از توجه و دقت جنابعالی
      .col-md-12
        .col-sm-6.col-md-3(ng-repeat='n in ["عکس","صفحه اول شناسنامه","کارت ملی","آخرین مدرک تحصیلی"]')
          span.label.label-default {{n}} 
          a(href='')
            span.glyphicon.glyphicon-remove
          a.thumbnail(href='', data-toggle='modal', data-target='#uploadFile', ng-click='$emit("thumbnailclick", { message: data.id})')
            img(src='/data/contract/attachment/{{data.id}}/1', alt='{{n}}', style='height:150px')
      .col-md-12
        .col-sm-6.col-md-3
        .col-sm-6.col-md-3(ng-repeat='n in ["آخرین حکم کارگزینی", "صفحه اول دفترچه بیمه","امضاء"]')
          span.label.label-default {{n}} 
          a(href='')
            span.glyphicon.glyphicon-remove
          a.thumbnail(href='', data-toggle='modal', data-target='#uploadFile', ng-click='$emit("thumbnailclick", { message: data.id})')
            img(src='/data/contract/attachment/{{data.id}}/1', alt='{{n}}', style='height:150px')
  .panel-footer
    .btn.btn-default(name='buttoncancel', ng-click='backclick()') خروج
      span.glyphicon.glyphicon-remove
