form.request.panel.panel-primary(ng-controller='contractCont', ng-submit='submitbtnclick()')
  .panel-heading
    h3.panel-title
      b فرم قراداد تدريس
      span.label.label-warning{{message}}
      span.label.label-info.pull-left 
        | شماره: {{data.description}}
      span.label.label-info.pull-left 
        | تاریخ: {{data.initdate}}
  .request.panel-body
    .row
      include parts/pagination.jade
      .col-md-12
        include parts/karshenas.jade
      .col-md-12
        include parts/teacher.jade
  .panel-footer
    .btn.btn-default(name='buttoncancel', ng-click='backclick()') خروج
      .span.glyphicon.glyphicon-remove
    button.btn.pull-left(ng-class='requestLevel===0 ? "btn-success" : "btn-warning"' ,name='buttonsubmit', type='submit') ثبت
      .span.glyphicon.glyphicon-ok
