form.request.panel.panel-primary(ng-submit='insertbtnclick()', ng-hide='printpreview')
  .panel-heading
    h3.panel-title
      b فرم قراداد تدريس
  .request.panel-body
    .row
      include parts/pagination.jade
      .col-md-12
        include parts/karshenas.jade
      .col-md-12
        include parts/teacher.jade
  .panel-footer
    .btn.btn-default(name='buttoncancel', ng-click='backclick()') انصراف
      .span.glyphicon.glyphicon-remove
    .btn.btn-info(name='buttonprint', ng-click='printbtnclick()') چاپ
      .span.glyphicon.glyphicon-print
    button.btn.btn-success.pull-left(name='buttoninsert', type='submit') ثبت گردد
      .span.glyphicon.glyphicon-ok
.embed-responsive.embed-responsive-16by9(ng-show='printpreview')
  iframe.embed-responsive-item(ng-src='{{pdfcontent}}')
