.request.panel.panel-warning(ng-if='requestLevel>0')
  .panel-heading
    h3.panel-title 
      b فرم قراداد تدریس - دستورات
      include parts/info.jade
  .request.panel-body
    .row
      include parts/pagination.jade
      .col-md-12
        .col-sm-4.col-md-3
          p پس از تکمیل قرارداد میتوانید با اشاره به نماد چاپگر در سمت چپ فرم اقدام به چاپ قرارداد نمایید
        .col-sm-4.col-md-3
          p قرارداد الکترونیکی از طریق کارتابل کارشناسان آموزش در شرکت ره آوران توسط ایشان ملاحظه خواهد شد 
        .col-sm-4.col-md-3
          p در صورت تایید ایشان وضعیت سند، به خاتمه یافته تغییر خواهد کرد و مفاد آن غیر قابل تغییر خواهند بود.
        .col-sm-4.col-md-3
          p با تشکر از توجه و دقت جنابعالی
      .col-md-12
        .form-group
          .row.form-group    
            p ارسال سند، آنرا در وضعیت انتظار برای چاپ قرار میدهد، در صورتی که داده ها و پیوستهای مربوطه را تکمیل نموداید، میتوانید اقدام به ارسال سند فرمایید.
            .form-group 
              - var captions = ['data.actionuser', 'data.actiondate', 'data.actiontime']
              include parts/datetime.jade
            .btn.btn-primary(type='button', ng-if='requestLevel===1', ng-click='updatestatus(1)', ng-if='requestLevel===1 && isOwner') ارسال جهت بررسی و چاپ 
              .span.glyphicon.glyphicon-arrow-left()
          .well(ng-if='(requestLevel!==4 && isCreator)')
            .row.form-group
              p تغییر وضعیت سند به خاتمه یافته در زمانی انجام میگردد که کلیه داده های لازم تکمیل و عملیات چاپ متن سند با موفقیت انجام شده باشد، پس از خاتمه هیچیک از مفاد قرارداد یا پیوستهای آن قابل تغییر نخواهند بود.
              .btn.btn-success(type='button', ng-click='updatestatus(2)', ng-if='requestLevel!==3') خاتمه
                .span.glyphicon.glyphicon-ok()
        .well(ng-if='requestLevel===1 || requestLevel===2 || requestLevel===4')
          p تغییر وضعیت سند به باطل شده آنرا از کارتابل اسناد فعال خارج و به بخش باطل شده ها منتقل میکند، این سند پس از مدتی بطور کامل از بان اطلاعاتی حذف خواهد شد.
          .input-group.col-md-10
            input.form-control(type='text', placeholder='علت ابطال...', ng-model='data.cancelwhy', ng-readonly='requestLevel===4')
            .span.input-group-btn
              .btn.btn-warning(type='button', ng-click='updatestatus(3)', ng-if='requestLevel===1 || (requestLevel===2 && isCreator)')  ابطال سند
                .span.glyphicon.glyphicon-trash()
  .panel-footer  
    include parts/alertinfo.jade
