span.label.label-info.pull-left 
    | شماره: {{data.description}}
span.label.label-info.pull-left 
    | تاریخ: {{data.initdate}}
span.label.label-info.pull-left 
    | مدرس: {{data.applicant}}
