.row.top-buffer
  .col-md-3
    label.control-label &nbsp;این قسمت توسط کارشناس شرکت ره آوران تکمیل گردد:
.col-md-12.well(style='margin-bottom: 10px')
  .row
    if (user.isKarshenas)
      div(ng-if='requestLevel===0')
        .col-md-3
          .form-group
            label(for='melicode')کد ملی 
            .input-group
              input.form-control(autocomplete='off', type='text', id='melicode', ng-init='contractuserlogin()', ng-model='data.useritems.melicode', typeahead-on-select='setmelicode($item)', typeahead='user.melicode for user in users | filter:$viewValue | limitTo:5', placeholder='کد ملی جستجو ...')
              span.input-group-btn
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') عملیات 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='', ng-click='addguestuser()', ng-if='selectedmelicode!==data.useritems.melicode') تعریف کاربر مدرس جدید
                      span.glyphicon.glyphicon-user
                  li
                    a(href='#contractprimary', ng-click='opencontractclick(data.useritems.melicode);', ng-if='selectedmelicode===data.useritems.melicode') آخرین قرارداد 
                      span.glyphicon.glyphicon-list-alt
                  li
                    a(href='', ng-click='removeguestuser()', ng-if='selectedmelicode===data.useritems.melicode') حذف کاربر
                      span.glyphicon.glyphicon-remove  
    .col-md-2(ng-if='requestLevel!==0')
      .form-group
        label(for='melicode')کد ملی 
        input.form-control(type='text', id='melicode', ng-model='data.useritems.melicode', ng-disabled='true', required)
    .col-md-2(ng-class='requestLevel!==0 ? "col-md-offset-1" : "col-md-offset-0"')
      .form-group
        label(for='mablagh')&nbsp;مبلغ قرارداد (ریال):
        input.form-control(type='text', pattern='[0-9]+', id='mablagh', ng-model='data.useritems.mablagh', ng-change='setmablagh()', ng-disabled='#{!user.isKarshenas}', required, placeholder='تنها عدد قابل قبول است', ng-readonly='requestLevel>2')
    .col-md-2
      .form-group
        label(for='mablaghtype')&nbsp;به ازای هر:
        select.form-control(id='mablaghtype', ng-model='data.useritems.mablaghtype', ng-disabled='#{!user.isKarshenas}', required)
          option(value='روز آموزش') روز آموزش
          option(value='دوره آموزشی') دوره آموزشی
          option(value='ساعت آموزش') ساعت آموزش
    .col-md-2.col-md-offset-1(ng-if = 'requestLevel!==0')
      .form-group
        label(for='startdate')&nbsp;تاریخ شروع قرارداد: 
        input.form-control(type='text', id='startdate', pattern='(?:13|14)[0-9]{2}/(0[1-9]|1[012])/(0[1-9]|[12][0-9]|3[01])', ng-model='data.useritems.startdate', , ng-change='setmodat()', ng-disabled='#{!user.isKarshenas}', placeholder='YYYY/MM/DD', required, ng-readonly='requestLevel>2')
    .col-md-2
      .form-group
        label(for='enddate')&nbsp;تاریخ پایان قرارداد: 
        input.form-control(type='text', id='enddate', pattern='(?:13|14)[0-9]{2}/(0[1-9]|1[012])/(0[1-9]|[12][0-9]|3[01])', ng-model='data.useritems.enddate', ng-change='setmodat()', ng-disabled='#{!user.isKarshenas}', placeholder='YYYY/MM/DD', required, ng-readonly='requestLevel>2')
  .row
    .col-md-12
      مبلغ قرارداد معادل&nbsp;
      strong
          span(id='mablaghword', ng-bind='data.useritems.mablaghword')
      &nbsp;ریال به ازای هر
      strong
          span(id='mablaghtypeword', ng-bind='data.useritems.mablaghtype')
      &nbsp;و مدت قرارداد&nbsp;
      strong
          span(id='modat', ng-bind='data.useritems.moddat')
      &nbsp;روز میباشد.
