div.pull-right
  .row
    button.btn.btn-default.btn-circle(type='button', data-toggle='tooltip', title='برگشت', ng-click='backclick()')
      span.glyphicon.glyphicon-share-alt
  .row 
    a.btn.btn-primary.btn-circle(data-toggle='tooltip', title='درخواست', ng-click='setpageid(1)', href='#contractprimary', ng-class='pageid===1 ? "btn-toggle" : ""')
      span.glyphicon.glyphicon-pencil
  .row
    a.btn.btn-success.btn-circle(data-toggle='tooltip', title='تصویر قرارداد', ng-click='printbtnclick(); setpageid(2)', href='#printpreview', ng-class='pageid===2 ? "btn-toggle" : ""')
      span.glyphicon.glyphicon-print
  .row(ng-show='requestLevel>=1')
    a.btn.btn-warning.btn-circle(data-toggle='tooltip', title='دستورات', ng-click='setpageid(3)', href='#action', ng-class='pageid===3 ? "btn-toggle" : ""')
      span.glyphicon.glyphicon-exclamation-sign
script.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });