#uploadFile.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title(ng-if='installDataBase') نصب بانک پشتیبان
        h4.modal-title(ng-if='!installDataBase') مدیرت فضای کاربری 
      .modal-body
        form#uploadForm(ng-submit='managefiles()')
          .form-group(ng-if='!installDataBase')
            label(for='dir') مدیریت فایلهای موجود در فضای کاربری
            .well.col-md-12(id='dir', style='height:200px; overflow:auto;', ng-init='dir()')
              label.btn-xs.btn-info.well-item(ng-repeat='fi in dir', ng-int='selected=false', ng-click='selected=!selected') {{fi}}
                span.glyphicon.glyphicon-check(ng-show='selected')
                span.glyphicon.glyphicon-unchecked(ng-show='!selected')
            .col-md-12.btn-group
              button.btn.btn-danger.col-md-4 حذف
                span.glyphicon.glyphicon-remove
              button.btn.btn-default.col-md-4 دریافت
                span.glyphicon.glyphicon-download
              button.btn.btn-warning.col-md-4 پیوست
                span.glyphicon.glyphicon-paperclip
          .form-group
              label(style='margin-top:20px') ارسال فایل 
              .well
                  .form-group(ng-if='!installDataBase')
                    label(for='filename') عنوان فایل
                    input.form-control(id='filename', type='text', ng-value='uploadme.name', required) 
                  .form-group
                    span.btn.btn-default.btn-file
                      | انتخاب فایل
                      input.form-control(type='file', name='attachment', fileread='uploadme', required)
                    input.btn.btn-primary.pull-left(type='submit', value='ارسال', name='submit')
                    span.label.label-default
                      | حجم : {{uploadme.size}}  نام : {{uploadme.name}}
