#uploadFile.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title(ng-if='installDataBase') نصب بانک پشتیبان
        h4.modal-title(ng-if='!installDataBase') مدیرت فضای کاربری 
      .modal-body
        form#uploadForm(ng-submit='managefiles()')
          .form-group
            label(for='dir') فهرست فایلهای موجود در فضای کاربری
            .well.col-md-12(id='dir', style='height:100px;overflow:auto')
          .form-group(ng-if='!installDataBase')
            label(for='filename') عنوان فایل
            input.form-control(id='filename', ng-model='filename', type='text', required)
          .form-group
            span.btn.btn-default.btn-file
              | انتخاب فایل
              input.form-control(type='file', name='attachment', fileread='vm.uploadme', required)
            input.btn.btn-primary.pull-left(type='submit', value='ارسال', name='submit')
            .row.col-md-12
              span.label.label-default
                | نام={{vm.uploadme.name}}   حجم={{vm.uploadme.size}}
