#uploadFile.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title(ng-if='installDataBase') نصب بانک پشتیبان
        h4.modal-title(ng-if='!installDataBase') مدیرت فضای کاربری 
      .modal-body
        form#uploadForm(ng-submit='managefiles("upload")')
          .form-group(ng-if='!installDataBase')
            label(for='dir') مدیریت فایلهای موجود در فضای کاربری
            .well.col-md-12(id='dir', style='height:200px; overflow:auto;', ng-init='managefiles("dir");')
              label.btn-xs.btn-info.well-item(ng-repeat='fi in dir', ng-click='selected[fi]=!selected[fi]') {{fi}}
                span.glyphicon.glyphicon-check(ng-show='selected[fi]')
                span.glyphicon.glyphicon-unchecked(ng-show='!selected[fi]')
            .col-md-12.btn-group
              .btn.btn-default.col-md-4(ng-click='managefiles("download")') دریافت 
                span.glyphicon.glyphicon-download
              .btn.btn-warning.col-md-4(ng-click='managefiles("remove")') حذف منتخب 
                span.glyphicon.glyphicon-remove
              .btn.btn-danger.col-md-4(ng-click='managefiles("removeall")') حذف همه 
                span.glyphicon.glyphicon-warning-sign
          .form-group
              label(style='margin-top:20px') ارسال فایل 
              .well
                  .form-group(ng-if='!installDataBase')
                    label(for='filename') عنوان فایل
                    input.form-control(id='filename', type='text', ng-value='uploadme.name', required) 
                  .form-group
                    span.btn.btn-default.btn-file
                      | انتخاب فایل
                      input.form-control(type='file', name='attachment', fileread='uploadme', required)
                    input.btn.btn-primary.pull-left(type='submit', value='ارسال', name='submit')
                    span.label.label-default
                      | حجم : {{uploadme.size}} 
