#uploadDataBase.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title نصب بانک پشتیبان
      .modal-body
        form#uploadForm(enctype='multipart/form-data', action='/admin/import', method='post')
          .form-group
            span.btn.btn-default.btn-file
              | انتخاب بانک پشتیبان
              input(type='file', name='Requests.sqlite', fileread='vm.uploadme')
            input.btn.btn-primary.pull-left(type='submit', value='نصب', name='submit')
          .form-group
            span.label.label-default.col-md-12
              | نام={{vm.uploadme.name}} حجم={{vm.uploadme.size}}
