.request.panel.panel-primary
  .panel-heading
    h3.panel-title
      b فرم قراداد تدريس
  .request.panel-body
    .row
      include parts/pagination.jade
      .col-md-12
        include parts/karshenas.jade
      .col-md-12
        include parts/teacher.jade
  .panel-footer  
    .btn-group.btn-group-justified(role='group')
      .btn.btn-default(name='buttoncancel', ng-click='backclick()') انصراف
        .span.glyphicon.glyphicon-remove
      .btn.btn-success(name='buttoninsert', ng-click='insertbtnclick()') ثبت گردد
        .span.glyphicon.glyphicon-ok
