.jumbotron(ng-show='requesttype===false')
  .container
    if !(user)
      h2 خوش آمدید!
      blockquote
        | این سامانه جهت تسهیل فعالیتهای کاری در شرکت ره آوران با استفاده از ابزارهای الکترونیک راه اندازی شده است،
        strong
          | جهت ورود به پایگاه و استفاده از خدمات ذیل 
        | ابتدا
        mark  
          | نام کاربری 
        | و
        mark 
          | کلمه عبور
        | خود را در قسمت بالا وارد نمایید. 
      body
        .row
          .col-md-3
            strong درخواست خدمت از واحد IT
            | - ثبت و پیگیری در خواست های انجام کار از واحد خدمات کامپیوتر شرکت از آبانماه 1394 توسط این پایگاه و بصورت مکانیزه انجام میگردد.
          .col-md-3
            strong صدور فیش حقوقی
            | - کلیه همکاران محترم که تا این تاریخ فیش حقوقی خود را تنها بصورت چاپ شده از امور مالی شرکت دریافت میکرده اند از آذر ماه 1394 امکان دسترسی برخط به فیش های حقوقی خویش را دارند.
          .col-md-3
            strong اساتید محترم
            | - از بهمن ماه 1394 پس از دریافت نام کاربری و کلمه عبور از اداره آموزش، میتوانند از طریق این سامانه اقدام به تکمیل مدارک خود و تهیه قرارداد نمایند.
          .col-md-3
            strong کارشناسان آموزش 
            | - از بهمن ماه 1394 میتوانند با تعریف اطلاعات کاربری اساتید در این سامانه، انعقاد قرارداد و تکمیل مدارک مربوطه را بصورت الکترونیک پیگیری نمایند. 
    else
      h3 
        | کاربر محترم 
        u {{currentUserFullName}} 
        | لطفا گزینه مورد نظر خود را انتخاب فرمایید:
      if (user.isItUser)
        .row
          b ثبت درخواست خدمت از واحد خدمات IT: 
          button.btn.btn-info(type='button', ng-click='liclick(0)') نمایش کارتابل
      if (user.isGuest)
        a.btn.btn-info تکمیل قرارداد
      if (user.isMaliUser || user.isMaliAdmin)
        .row.top-buffer
          b دریافت فیش حقوقی:
          | (برای مشاهده فهرست فیش های موجود در سال 1394، کافی است در مستطیل مورد نظر عبارت 94 را وارد فرمایید.)
        .col-md-12.well
          if (user.isMaliAdmin)
            .col-md-2
              input.form-control(type='text', ng-model='pid', typeahead-on-select='setpid($item)', typeahead='pid for pid in pids | filter:$viewValue | limitTo:5', placeholder='کد پرسنلی ...')                        
          .col-md-2
            input.form-control(type='text', ng-init='malilogin()', ng-model='statedate', typeahead-on-select='setdate($item)', typeahead='date for date in dates | filter:$viewValue | limitTo:5', placeholder='ماه و سال ...')
          .col-md-2
            .dropdown
              button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', ng-init='malilogin()')
                | {{selectedstatedate}}
                span.caret
              ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                li(ng-repeat='m in dates', ng-click='setdate(m)')
                  a.btn(href) {{m}}
          .col-md-2
            button.btn.btn-info(type='button', ng-click='openstate($selectedstatedate, $selectedpid)') نمایش فیش حقوقی
