.col-md-12
  .col-md-2.btn-group(role='group')
    button.btn.btn-primary.dropdown-toggle.col-md-12(type='button', data-toggle='dropdown') فرم جدید 
      span.glyphicon.glyphicon-plus-sign
      | 
      span.caret
    ul.dropdown-menu
      li
        a(href='#contractprimary', ng-click='newrequestclick("contract")') قرارداد مدرسین
      li
        a(href='#itprimary', ng-click='newrequestclick("itrequest")') درخواست خدمت واحد خدمات کامپیوتری 
  .col-md-2
    a.btn.btn-success.col-md-12(ng-href='{{primary}}', ng-click='openrequestclick()', ng-disabled='isCreator===null') بررسی 
      span.glyphicon.glyphicon-zoom-in
  .col-md-2
    a.btn.btn-info.col-md-12(ng-href='{{primary}}', ng-click='viewrequestclick()', ng-disabled='!isCreator') نمایش 
      span.glyphicon.glyphicon-play-circle
