.btn-toolbar
    .btn-group(role='group')
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') فرم جدید 
          span.glyphicon.glyphicon-plus-sign
          | 
          span.caret
        ul.dropdown-menu
          if (user.isKarshenas)
            li
              a(href='#contractprimary', ng-click='newrequestclick("contract")') قرارداد مدرسین
          if (user.isItUser)
            li
              a(href='#itprimary', ng-click='newrequestclick("itrequest")') درخواست خدمت واحد خدمات کامپیوتری 
    a.btn.btn-default(ng-href='{{primary}}', ng-click='(isCreator || isOwner) ? openrequestclick() : false', ng-disabled='!isCreator && !isOwner') بررسی 
        span.glyphicon.glyphicon-zoom-in
